extends base
block vars
    - var title = 'Register'

block body
    h1 (Please Create An Account)
    form(method='post')
        input(type='hidden', name='_csrf', value=csrfToken)
        span First Name:
        input(type='text', name='firstName', required=true)
        br
        br
        span Last Name:
        input(type='text', name='lastName', required=true)
        br
        br
        span Email:
        input(type='email', name='email', required=true)
        br
        br
        span Password:
        input(type='password', name='password', required=true)
        br
        br
        input(type='submit')
